.container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    cursor: pointer;
    padding: 5px 0;
}

.itemCheckbox {

}

.itemContent {
    display: block;
}

.itemTitle {
    margin-left: 10px;
}

.itemDate {
    margin-left: 10px;
    font-size: 12px; 
    color: #999;
}

.menu {
    display: flex;
    align-items: start;
    position: relative;
}

.menuButton {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #999;
    line-height: 1;
}

/* .menu {
  position: relative;
}

.menuButton {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.2s;
} */