.dropdown {
  position: absolute;
  top: 36px;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  padding: 6px;
  /* width: 160px; */
  width: 195px;
  z-index: 20;
}

.item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.item:hover {
  background: #f5f5f5;
}
